<form [formGroup]="registerProductos" (ngSubmit)="onSubmit()" class="productos-form">
    <div class="form-group">
        <label for="producto">Nombre:</label>
        <input id="producto" type="text" formControlName="producto" class="form-control" name="producto">
    </div>
    <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input id="cantidad" type="number" formControlName="cantidad" class="form-control" name="cantidad">
    </div>
    <div class="form-group">
        <label for="precio">Precio por unidad:</label>
        <input id="precio" type="number" formControlName="precio" class="form-control" name="precio">
    </div>
    <div class="form-group">
        <label for="fecha">Fecha de vencimiento:</label>
        <input id="fecha" type="date" formControlName="fecha" class="form-control" name="fecha">
    </div>
    <div class="form-group">
        <label for="proveedor">Proveedor:</label>
        <input id="proveedor" type="text" formControlName="proveedor" class="form-control" name="proveedor">
    </div>
    <button type="submit" class="btn btn-primary">Nuevo Producto</button>
</form>
