<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>
    <div class="container mt-5">
        <div class="profile">
            <img src="assets/images/userleomar.jpeg" alt="Mi Foto de Perfil" class="img-fluid rounded-circle mb-4">
            <h2 class="text-center">{{ loginService.username }}</h2>
            <p>"Soy un joven de 19 años, apasionado por la vida y siempre en busca de emociones nuevas. Mi sonrisa es como un imán, atrayendo miradas curiosas y generando un ambiente de alegría a mi alrededor. Me considero como un explorador en constante movimiento, buscando descubrir nuevos horizontes y desafiar límites. Con una mente inquieta y creativa, disfruto del mundo gamer, me encanta viajar para conocer nuevas culturas, soy un melómano empedernido y tengo una colección envidiable de figuras de Marvel.</p>
        </div>
    </div>
    <!-- Bootstrap JS y dependencias opcionales -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
